{% extends 'testing/basic.html'%}

{% block head %}
<title>Tests</title>
{% endblock %}

{% block body %}
<h2>Tests</h2>
<section>
    {% if tests|length < 1 %}
        <p>There is no tests avaliable.</p>
    {% else %}
        <div>
        {% for test in tests %}
            <a href="{{ test.pk }}">{{ test.name }}</a>
            <p>{{ test.description }}</p>
            <p>{{ test.pub_date }}</p>
        {% endfor %}
        </div>
    {% endif %}
</section>

<form action="/groups">
    <input type="submit" value="Go back" />
</form>

{% endblock %}