{% extends 'testing/basic.html'%}

{% block head %}
<title>Tests</title>
{% endblock %}

{% block body %}
<article>
<h2>Tests</h2><br>
    {% if tests|length < 1 %}
        <h3>There is no tests avaliable.</h3><br>
    {% else %}
        {% for test in tests %}
        <a href="{{ test.pk }}">
        <section class="wrapper">
            <h2 class=obj_name>{{ test.name }}</h2>
            <span class="description">{{ test.description }}</span><br>
            <span class="date">{{ test.pub_date }}</span>
        </section>
        </a>
        {% endfor %} 
    {% endif %}
</article>

<form action="/groups">
    <input type="submit" value="Go back" />
</form>

{% endblock %}