{% extends 'testing/basic.html'%}
{% load static %}

{% block head %}
    <title>TestUp</title>

{% endblock %}
{% block nav %}
<div class="container">
    <a class="logo-text" href="/">Test<span>Up</span></a>

    <ul class="nav-items">
        <li><a href="/signin">Sign in</a></li>
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/user">Home</a></li>
        <li class="start-now-btn"><a href="/groups">Start now!</a></li>
    </ul>
</div>
{% endblock %}
{% block body %}
<main>
    <div class="container">
        <div class="left-col">
            <h1>Test Yourself</h1>
            <object class="logo" data="static/testing/img/logo.svg" type="image/svg+xml"></object>
        </div>
        <div class="right-col">
            <h2>Choose from a variety of tests</h2>
            <h2>With dozens of interesting topics</h2>
        </div>
    </div>
</main>
{% endblock %}