@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-blue: #18b3ae;
    --primary-gray: #f2f2f2;
}

body {
    background: var(--primary-gray);
    margin: 0em;
    font-family: "Poppins";
}

nav {
    background: white;
    align-self: center;
    margin: 0 auto;
    padding: 1em 8em;
}

    .logo-text {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 2.6em;

        span {
            color: var(--primary-blue);
        }
    }
    
    li {
        display: inline;
        padding: .4em;
    }

    li.start-now-btn {
        color: var(--primary-blue);
        border: 3px solid var(--primary-blue);
        border-radius: 15px;

        &:hover {
            background: var(--primary-blue);
            color: white;
        }
    }

    .right-nav {
        padding: 1.2em;
        padding-right: 0em;
        float: right;
    }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}

main {
    padding: 0em 6em;
    align-items: center;
}

    .logo {
        width: 80%;
    }

    .container {
        background: white;
        margin: 1.4em;
        padding: 1em;
        display: flex;
        justify-content: space-around;
        height: 30em;  
    }

    .items-block {
        margin: 1.4em;
        text-align: center;
        align-self: center;
    }

footer {
    text-align: center;
    height: 16em;
    bottom: 0em;
    left: 0;
    right: 0;
    background-color: white;
}

