{% extends 'testing/basic_template.html'%}

{% block head %}
<title>All questions</title>
{% endblock %}

{% block body %}
<div>
    {% if data|length < 1 %}
        <h3>There is no Questions in here.</h3>
    {% else %}
        <h1>All questions list</h1>
        {% for question, answers in data.items %}
        <tr>{{ question }}</tr>
        <tr>
            {% for answer in answers %}
            <li>{{answer}}</li>
            {% endfor %}
        </tr>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}