<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tests</title>
</head>
<body>
    <h1>Tests</h1>
    <section>
        {% if tests|length < 1 %}
        <p>There is no tests avaliable.</p>
        {% else %}
        <div>
            {% for test in tests %}
            <a href="{{ test.pk }}/testing">{{ test.name }}</a>
            <p>{{ test.description }}</p>
            <p>{{ test.pub_date }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </section>
</body>
</html>